tropo2_server:
    jid: usera@127.0.0.1 # To login to the Tropo/Ozone server as
    password: '1' #Password for the JID
    sip_uri: usera@127.0.0.1 # The SIP URI for Tropo1 to pitch calls to on Tropo2/Ozone
    wire_log: logs/tropo2-wire.log
    transport_log: logs/tropo2-transport.log
    server: 127.0.0.1
    port: 8080
    write_timeout: 3
    deployed_as: tropo2

tropo2_queue:
    connection_timeout: 30 # Amount of time waiting to connect to the Ozone server before considering it a timeout
    read_timeout: 5 # The number of seconds to block on waiting for a Tropo2/Ozone event
    last_stanza_timeout: 2 # The amount of time to block while flushing the queue of any extraneous stanzas for unhappy cases

tropo1:
    use: true # True to use Tropo1, false to be prompted to dial interactively from a softphone
    # Tropo1 session URI, include the location of ozone_functional_tester/support/ozone_testing.rb, there is a copy on the URI below too
    session_url: 'http://127.0.0.1:8080/tropo/calls?action=create&token=http://127.0.0.1:8080/tropo/script/tropo2_testing.rb'
    call_destination: sip:tropo2_testing.rb@127.0.0.1:5061
    druby_host: 0.0.0.0
    druby_port: 8787
    wait_to_hangup: 30000
    latch_timeout: 5 # The amount of time to wait for a latch to release

# Audio file to use for testing
audio_url: http://dl.dropbox.com/u/25511/Voxeo/troporocks.mp3

media_assertion_timeout: 3

dtmf_tone_files:
  0: http://dl.dropbox.com/u/25511/Voxeo/dtmf-0.mp3
  1: http://dl.dropbox.com/u/25511/Voxeo/dtmf-1.mp3
  2: http://dl.dropbox.com/u/25511/Voxeo/dtmf-2.mp3
  3: http://dl.dropbox.com/u/25511/Voxeo/dtmf-3.mp3
  4: http://dl.dropbox.com/u/25511/Voxeo/dtmf-4.mp3
  5: http://dl.dropbox.com/u/25511/Voxeo/dtmf-5.mp3
  6: http://dl.dropbox.com/u/25511/Voxeo/dtmf-6.mp3
  7: http://dl.dropbox.com/u/25511/Voxeo/dtmf-7.mp3
  8: http://dl.dropbox.com/u/25511/Voxeo/dtmf-8.mp3
  9: http://dl.dropbox.com/u/25511/Voxeo/dtmf-9.mp3
  hash: http://dl.dropbox.com/u/25511/Voxeo/dtmf-hash.mp3
  star: http://dl.dropbox.com/u/25511/Voxeo/dtmf-star.mp3
